@use '../global/variables' as vars;
@use '../global/mixin' as *;

.about {
    &__description {
        font-size: vars.$font-size-heading-5;
        line-height: vars.$line-height-large;
        font-weight: vars.$font-weight-medium;
        color: vars.$color-text-muted;
    }

    &__feature-title {
        font-size: vars.$font-size-heading-4;
        line-height: vars.$line-height-heading-4;

        @include title;
    }

    &__feature-description {
        font-size: vars.$font-size-large;
        color: vars.$color-text-muted;
    }

    &__read-more {
        font-weight: vars.$font-weight-semibold;
        font-size: vars.$font-size-medium;
        line-height: vars.$line-height-medium;
    }
}