@use '../global/variables' as vars;
@use '../global/mixin' as *;

// Ensure header/nav is always flush to the top and not affected by page-specific wrappers
.header {
    position: relative;
    top: 0;
    margin-top: 0 !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: vars.$color-bg-main;

    &__actions {
        display: flex;
        align-items: center;
        gap: vars.$gap-md;
    }

    &__search {
        background-color: inherit;
        padding: vars.$padding-md;
        border: vars.$border-width solid vars.$color-separator-strong;
        color: vars.$color-text-subtle;
        font-size: vars.$font-size-base;
        line-height: vars.$line-height-small;
    }

    &__discord-link {
        @include link;
        padding: vars.$padding-lg;
    }

    &__login-button {
        padding: vars.$padding-lg;
        color: inherit;
        vertical-align: middle;
    }
}

.navigation-list {
    display: flex;
    gap: vars.$gap-lg;
}


.navigation-link {
    font-weight: vars.$font-weight-semibold;
    font-size: vars.$font-size-medium;
    line-height: 1.2;
    padding-bottom: 2px;
    border: 0 !important;
    border-width: 0 !important;
    border-style: none !important;
    border-color: transparent !important;
    border-bottom: 0 !important;

    &--active {
        border-bottom: vars.$border-width solid vars.$color-marina-800 !important;
    }
}