.blog-card {
    background-color: var(--color-bg-alt2);
    gap: 32px;

    &__excerpt {
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        color: var(--color-text-muted);
    }

    &__author {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        color: var(--color-text-muted);
    }

    &__author--uppercase {
        text-transform: uppercase;
    }

    &__date {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        color: var(--color-text-muted);
    }

    &__image {
        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: var(--border-radius);
        }

        &--primary img {
            height: 400px;
        }

        &--secondary img {
            height: 200px;
        }
    }

    // Make cards with primary images span 2 rows
    &:has(.blog-card__image--primary) {
        grid-row: span 2;
    }
}