.blog-card {
    background-color: var(--color-bg-alt2);
    margin-bottom: var(--padding-xl);
    padding: var(--padding-xl);

    &__label {
        border: none;
        background-color: var(--color-white-bg);
        padding: var(--padding-sm);
        color: var(--color-link-accent-inverse);
        font-weight: var(--font-weight-semibold);
        line-height: var(--line-height-small);
    }

    &__excerpt {
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        color: var(--color-text-muted);
    }

    &__author {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        color: var(--color-text-muted);
    }

    &__author--uppercase {
        text-transform: uppercase;
    }

    &__date {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        color: var(--color-text-muted);
    }

    &__read-more {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        border: var(--border-width) solid var(--color-separator-strong);
        padding: var(--padding-xxl);
    }
}