.blog-card {
    background-color: var(--color-bg-alt2);
    margin-bottom: var(--padding-xl);
    padding: var(--padding-xl);


    &__excerpt {
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        color: var(--color-text-muted);
    }

    &__author {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        color: var(--color-text-muted);
    }

    &__author--uppercase {
        text-transform: uppercase;
    }

    &__date {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-medium);
        line-height: var(--line-height-medium);
        color: var(--color-text-muted);
    }

    &__image-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 12px;
        background: var(--color-bg-alt2);
        display: block;
        margin: 0 auto var(--padding-md) auto;
    }


    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

}