@use '../global/variables' as vars;

.button {
    border: none;
    text-align: center;
    background-color: var(--color-marina-800);
    padding: var(--padding-lg);
    color: inherit;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    vertical-align: middle;
}