.catalog {
    &__see-all {


        padding: var(--padding-lg);
    }

    &__nav-button {

        padding: var(--padding-xl);
        width: var(--width-lg);
        height: var(--height-lg);
    }


}