.catalog {

    display: flex;
    flex-direction: column;
    padding-top: 64px;

    &__header {
        display: flex;
        flex-direction: row;
        gap: 0 32px;
        align-items: center;
        margin-bottom: 24px;
        width: 95%;
        height: auto;
        align-items: center;
        justify-content: space-between;


    }
}