// Style search input inside the wrapper for catalog-products
.catalog-products__search-input-wrapper input[type="search"] {
  margin-bottom: 20px;
  background-color: rgb(26 25 37 / 1);
  border: 2px solid rgb(208 215 251 / 0.17);
  color: rgb(231 238 247 / 0.66);
}

.catalog-products {
  &__search-input {
    margin-bottom: 20px;
    background-color: rgb(26 25 37 / 1);
    border: 2px solid rgb(208 215 251 / 0.17);
    color: rgb(231 238 247 / 0.66);
  }

  &__tag {
    border: 2px solid rgb(208 215 251 / 0.17);
    background-color: rgb(29 28 40 / 1);
    color: rgb(245 248 251 / 1);
  }

  &__clear-all {
    background-color: rgb(255 255 255 / 1);
    color: rgb(13 13 21 / 1);
    border: none;
  }
}
