@use '../global/mixin' as *;

.catalog {
    &__see-all {


        padding: var(--padding-lg);
    }

    &__nav-button {
        border: var(--border-width) solid var(--color-separator-strong);
        padding: var(--padding-xl);
        background-color: transparent;
        width: var(--width-lg);
        height: var(--height-lg);
        color: var(--color-text-main);
    }

    &__nav-button--active {
        background-color: var(--color-marina-800);
        color: var(--color-bg-main);
        border: none;
    }
}