.checkbox {
    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        border: 2px solid rgba(212, 217, 242, 0.26);
        appearance: none;
        -webkit-appearance: none;
        background-color: rgba(13, 13, 21, 1);

        &:checked {
            background-color: rgba(2, 101, 220, 1) !important;
        }

        cursor: pointer;
        position: relative;
        outline: none;
        transition: background 0.2s;

        &:checked:hover {
            background-color: rgba(56, 146, 243, 1) !important;
        }

        &:active {
            background-color: rgba(181, 222, 255, 1);
        }

        &:focus {
            background-color: rgba(26, 25, 37, 1);
            border: 2px solid rgba(56, 146, 243, 1);
        }

        &:disabled {
            cursor: not-allowed;
            background-color: rgba(208, 215, 251, 0.17);
            border: none;
        }

        &:user-invalid {
            border-color: rgba(234, 56, 41, 1);


            &:hover {
                background-color: rgba(29, 28, 40, 1);

            }
        }



        &:checked::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 3px;
            height: 6px;
            border: solid rgba(245, 248, 251, 1);
            border-width: 0 2px 2px 0;
            transform: translate(-50%, -50%) rotate(45deg);

        }
    }
}