.dropdown {
  border: 2px solid rgb(208 215 251 / 0.17);
  background-color: rgb(13 13 21 / 1);
  color: rgb(245 248 251 / 1);
  width: 160px;
  height: auto;
  box-sizing: border-box;

  &:hover {
    border-color: rgb(56 146 243 / 1);
    background-color: rgb(191 197 238 / 0.12);
    color: rgb(56 146 243 / 1);
  }

  &:focus {
    background-color: rgb(191 197 238 / 0.12);
    border-color: rgb(56 146 243 / 1);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(208 215 251 / 0.17);
    border-color: transparent;
    color: rgb(229 236 251 / 0.36);
  }

  option {
    background-color: rgb(32 38 49 / 1);
    color: rgb(245 248 251 / 1);
  }
}
