@use '../global/variables' as vars;

.faq {
    &__item {
        background-color: vars.$color-bg-alt2;
        padding: vars.$padding-xl;
        display: flex;
        flex-direction: column;
        margin-bottom: vars.$padding-xl;
    }

    &__question {
        font-size: vars.$font-size-heading-4;
        line-height: vars.$line-height-heading-4;
        font-family: vars.$font-family-secondary;

    }

    &__answer {
        font-size: vars.$font-size-medium;
        line-height: vars.$line-height-medium;
    }

    &__link {
        color: vars.$color-marina-800;
    }

}