.footer {
    background-color: var(--color-footer-bg);


    &__description {
        line-height: var(--line-height-small);
    }

    &__nav-title {
        font-size: var(--font-size-heading-5);
        line-height: var(--line-height-large);
        font-weight: var(--font-weight-medium);
    }

    &__nav-link {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
    }

    &__copyright {
        line-height: var(--line-height-small);
        align-items: stretch;
        border-top: 1px solid var(--color-separator-strong);
    }

    &__social-icon {
        transition: color 0.3s ease;

        &:hover {
            color: rgba(56, 146, 243, 1);
        }
    }
}