.form {
    &-label {
        display: block;
        width: 100%;
        max-width: var(--max-width-form);
        margin: 0 auto var(--gap-small) auto;
        text-align: left;
        font-size: inherit;
        font-weight: inherit;
        color: var(--color-text-main);
        line-height: var(--line-height-form-label);
    }


    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-small);
        width: 100%;
        height: auto;
    }

    &-header h2 {
        margin-bottom: var(--margin-medium);
        margin-top: var(--margin-xl);
    }

    &-header p {
        margin-top: 0;
    }

    &-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: var(--max-width-form);
        margin: 0 auto;
        margin-bottom: var(--margin-large);
    }

    &-radio-group {
        border: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: var(--max-width-form);
        margin: 0 auto;
        padding: 0;
    }

    &-radio-container {
        display: flex;
        flex-direction: column;
        gap: var(--gap-medium);
        margin-top: var(--gap-small);
        align-items: flex-start;
    }

    &-radio-label {
        display: flex;
        align-items: center;
        gap: 0.5em;
        margin: 0;
        cursor: pointer;
    }

    &-input,
    &-textarea {
        border: var(--border-width) solid var(--color-marina-disabled);
        background-color: var(--color-bg-main);
        width: 100%;
        max-width: var(--max-width-form);
        height: auto;
        color: var(--color-text-main);
        padding: var(--padding-form);
        margin: 0 auto;
        transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

        &:focus {
            outline: none;
            border-color: var(--color-marina-800);
            box-shadow: 0 0 0 3px var(--color-focus-shadow);
        }

        &:user-invalid {
            border: var(--border-width) solid var(--color-error);
        }

        &:user-valid {
            border: var(--border-width) solid var(--color-success);
        }

        &:hover {
            border-color: var(--color-marina-hover);
            transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }


    &-input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    &-input[type="date"] {
        color: var(--color-text-subtle);
    }

    input::placeholder {
        color: var(--color-text-subtle);
    }
}