.header {
    background-color: var(--color-bg-main);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 32px;
    box-sizing: border-box;
    align-items: center;



    &__actions {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        min-height: 48px;

    }


    &__discord-icon,
    &__login-icon {
        display: inline-block; // Ensure icons are treated as inline elements
        width: 24px; // Set a consistent width
        height: 24px; // Set a consistent height
        vertical-align: middle; // Align icons vertically within the text
        margin-right: 8px; // Add spacing between the icon and text
        margin-bottom: 5px;
    }
}