.product {

    display: flex;
    background-color: rgb(29, 28, 40);
    padding: 24px;
    max-width: 300px;
    justify-content: center;

    &__link {
        position: relative;
    }

    &__label {
        position: absolute;
        z-index: 1;
        top: 16px;
        right: 16px;

    }

    // &__image {
    //     max-width: 252.8px;
    //     max-height: 324px;
    // }
}