.separator {
    display: inline-block;
    width: var(--width-xs);
    height: var(--height-xs);
    background: var(--color-separator-strong);
    vertical-align: middle;
    margin: var(--margin-xs);
    border-radius: var(--radius-xs);
}