.sidebar {
    &__title {
        font-family: var(--font-family-secondary);
    }

    &__link {
        font-weight: var(--font-weight-semibold);
        line-height: var(--line-height-small);
    }

    &__item {
        display: flex;
        flex-direction: row;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: auto;
    }

    &__tags {
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 16px;
        max-height: 184px;
        max-width: 328px;
    }

    &__tags-list {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
}