.sidebar {
    &__title {
        font-family: var(--font-family-secondary);
    }

    &__link {
        font-weight: var(--font-weight-semibold);
        line-height: var(--line-height-small);
    }

    &__tag {
        display: inline-block;
    }
}