body {
    background-color: var(--color-bg-root);
    background-image: radial-gradient(var(--gradient-radial-size) at 0% 0%, var(--gradient-radial-from) 0%, var(--gradient-radial-to) 100%);
    font-family: var(--font-family-primary);
    color: var(--color-text-main);
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: var(--line-height-base);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.caps {
    text-transform: uppercase;
}