body {
    background-color: var(--color-bg-root);
    font-family: var(--font-family-primary);
    color: var(--color-text-main);
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: var(--line-height-base);
    max-width: 1728px;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}