/* =============================
 *       CSS CUSTOM PROPERTIES
 * ============================= */

:root {
    /* Typography */
    --font-family-primary: 'Poppins', Arial, sans-serif;
    --font-family-secondary: 'Bakbak One', Arial, sans-serif;

    --font-size-base: 14px;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-heading-1: 52px;
    --font-size-heading-3: 28px;
    --font-size-heading-4: 24px;
    --font-size-heading-5: 20px;

    /* Line heights in relative units */
    --line-height-base: 2.0;
    /* 28px/14px = 2.0 */
    --line-height-small: 1.33;
    /* 16px/12px = 1.33 */
    --line-height-medium: 1.5;
    /* 24px/16px = 1.5 */
    --line-height-large: 1.56;
    /* 28px/18px = 1.56 */
    --line-height-heading-1: 1.19;
    /* 62px/52px = 1.19 */
    --line-height-heading-3: 1.29;
    /* 36px/28px = 1.29 */
    --line-height-heading-4: 1.33;
    /* 32px/24px = 1.33 */

    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --letter-spacing-heading: -0.5px;

    /* Colors */
    --color-marina-800: rgb(2 101 220 / 1);
    --color-marina-1200: rgb(0 39 84 / 1);
    --color-text-main: rgb(245 248 251 / 1);
    --color-text-muted: rgb(239 245 250 / 0.82);
    --color-text-subtle: rgb(231 238 247 / 0.66);
    --color-bg-main: rgb(13 13 21 / 1);
    --color-bg-alt2: rgb(29 28 40 / 1);
    --color-separator-strong: rgb(208 215 251 / 0.17);
    --color-link-accent: rgb(120 187 250 / 1);
    --color-link-accent-inverse: rgb(2 101 220 / 1);
    --color-white-bg: rgb(255 255 255 / 1);

    /* Layout & Spacing */
    --border-width: 2px;
    --width-xs: 2px;
    --width-lg: 48px;
    --width-article: 1024px;
    --height-xs: 24px;
    --height-lg: 48px;
    --height-article: 132px;
    --radius-xs: 1px;
    --radius-lg: 16px;

    /* Padding system */
    --padding-xs: 6px 12px;
    --padding-sm: 8px 10px;
    --padding-md: 8px 12px;
    --padding-lg: 10px 24px;
    --padding-xl: 16px;
    --padding-xxl: 8px 20px;

    /* Gaps and margins */
    --gap-md: 16px;
    --gap-lg: 24px;
    --margin-xs: 0 8px;
}