<section class="about">
	<h2 class="about__title title title--h2">{{ about.title }}</h2>
	<p class="about__description">{{ about.description }}</p>
	<ol class="about__features">
		{% for feature in about.features %}
			{% include './about-feature.twig' with { feature: feature } %}
		{% endfor %}
	</ol>
	<a href="{{ about.read_more_url }}" class="link about__read-more read-more">Read more</a>
</section>
