<section class="article__share">
	<span class="article__share-title">Share:</span>
	{% for share in article.shares %}
		<a href="{{ share.url }}" class="button button--secondary article__share-link">
			<img src="{{ share.icon }}" alt="{{ share.label }} icon" class="article__share-icon">
		</a>
	{% endfor %}
</section>
