<section class="blog">
	<h2 class="blog__title title title--h2">{{ blog_section.title }}</h2>
	{% for blog in blog_section.articles %}
		{% include './blog-card.twig' with { blog: blog } %}
	{% endfor %}
	<a href="{{ blog_section.read_more_url }}" class="link blog-card__read-more-main read-more">Read more</a>
</section>
