<section class="catalog-sidebar">
	<form class="filter-form" method="get">

		<details class="filter-group" open>
			<summary class="filter-title">Clothing</summary>
			<ul class="filter-list">
				<li>
					<label class="filter-label checkbox">
						<input type="checkbox" name="clothing[]" value="Combatant">
						Combatant
					</label>
				</li>
				<li>
					<label class="filter-label checkbox">
						<input type="checkbox" name="clothing[]" value="Ninja">
						Ninja
					</label>
				</li>
				<li>
					<label class="filter-label checkbox">
						<input type="checkbox" name="clothing[]" value="King">
						King
					</label>
				</li>
				<li>
					<label class="filter-label checkbox">
						<input type="checkbox" name="clothing[]" value="Queen">
						Queen
					</label>
				</li>
				<li>
					<label class="filter-label checkbox">
						<input type="checkbox" name="clothing[]" value="Robot">
						Robot
					</label>
				</li>
			</ul>
		</details>

		<details class="filter-group" open>
			<summary class="filter-title">Eyes</summary>
			<ul class="filter-list">
				<li>
					<label class="filter-label radio">
						<input type="radio" name="eyes" value="Yellow">
						Yellow
					</label>
				</li>
				<li>
					<label class="filter-label radio">
						<input type="radio" name="eyes" value="Green">
						Green
					</label>
				</li>
				<li>
					<label class="filter-label radio">
						<input type="radio" name="eyes" value="Mix">
						Mix
					</label>
				</li>
				<li>
					<label class="filter-label radio">
						<input type="radio" name="eyes" value="Orange">
						Orange
					</label>
				</li>
			</ul>
		</details>

		<details class="filter-group" closed>
			<summary class="filter-title">Face</summary>
		</details>

		<details class="filter-group" closed>
			<summary class="filter-title">Skin</summary>
		</details>

		<details class="filter-group" closed>
			<summary class="filter-title">Background</summary>
		</details>

		<details class="filter-group" open>
			<summary class="filter-title">Special</summary>
			<ul class="filter-list">
				<li>
					<label class="filter-label checkbox">
						<input type="checkbox" name="special[]" value="Yellow">
						Yellow
					</label>
				</li>
				<li>
					<label class="filter-label checkbox">
						<input type="checkbox" name="special[]" value="Green">
						Green
					</label>
				</li>
				<li>
					<label class="filter-label checkbox">
						<input type="checkbox" name="special[]" value="Mix">
						Mix
					</label>
				</li>
				<li>
					<label class="filter-label checkbox">
						<input type="checkbox" name="special[]" value="Orange">
						Orange
					</label>
				</li>
			</ul>
		</details>

		<button type="submit" class="button filter-apply-btn">Apply</button>
	</form>
</section>
