{% import 'ui/picture.twig' as picture_macro %}

<li class="product">
	{{ picture_macro.picture(
        'product__image',
        product.image_src,
        product.image_width,
        product.image_height,
        product.image_alt,
        false
    ) }}
	{% if product.label %}
		<span class="product__label label{% if product.label|lower == 'sold out' %} label--secondary{% endif %}">{{ product.label }}</span>
	{% endif %}
	{% if product.price %}
		<span class="product__price">{{ product.price }}</span>
	{% endif %}
	<span class="product__name">{{ product.name }}</span>
</li>
