<form action="/search" method="get" class="search-form">
	<div class="search-form__wrapper">
		<input type="search" id="search" name="product" placeholder="{{ placeholder }}" aria-label="{{ aria_label }}" class="search-form__input">
		<span class="search-form__icon">
			<img src="#" alt="Search Icon">
		</span>
	</div>
</form>
