{% set current_page = 'contact' %}
{% extends 'src/templates/layouts/base.twig' %}

{% block content %}
	<main class="main">
		{% include 'src/templates/partials/contact-header.twig' %}
	</main>
{% endblock %}
