{% extends 'src/templates/layouts/base.twig' %}

{% from 'src/templates/partials/ui/icon.twig' import icon %}

{% block content %}
  <h1>{{ index.title }}</h1>

  {% include 'src/templates/partials/welcome-section.twig' %}
{% endblock %}
