{% set current_page = 'index' %}
{% extends 'src/templates/layouts/base.twig' %}

{% block content %}
	<main class="main">
	<div class="container">
		{% include 'src/templates/partials/hero.twig' %}
		{% include 'src/templates/partials/catalog-index.twig' %}
		{% include 'src/templates/partials/blog-section.twig' %}
		{% include 'src/templates/partials/about.twig' %}
		{% include 'src/templates/partials/team.twig' %}
		{% include 'src/templates/partials/faq.twig' %}
	</main>
{% endblock %}
