{% import '../partials/ui/picture.twig' as picture_macro %}

<!DOCTYPE html>
<html>
	{% include '../partials/head.twig' %}
	<body {% if current_page == 'index' %} class="index-page" {% endif %}>
		{% include '../partials/header.twig' %}
		{% block content %}{% endblock %}
		{% include '../partials/footer.twig' %}
	</body>
</html>
