<!DOCTYPE html>
<html>
	{% include '../partials/head.twig' %}
	<body>
		{% include '../partials/header.twig' %}
		{% block content %}{% endblock %}
		   {% if current_page != 'index' %}
			   {% include '../partials/footer.twig' %}
		   {% endif %}
	</body>
</html>
